@import url(//db.onlinewebfonts.com/c/14b88c7fdb0ca4ae352143a8a1ea2c43?family=RotondaC);
* {
	font-family: "RotondaC";
}
.meow-btn {
	background: #8acbe5;
	padding: 14px;
	font-size: 17pt;
	border: none;
	color: black;
	border: 1px solid white;
}
a.meow-btn {
	text-decoration: none;
}
.logo {
	width: 15%;
}
